In [62]:
for i in range(1,6):
  print(i*'*','\n')  
for j in range(4,0,-1):
  print(j*'*','\n')

*

**

***

****

*****

****

***

**

*

In [8]:
from ast import Index
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list:
  a=my_list.index(i)
  if a%2 !=0:
    print('Number at index %d:'%a,i)

Number at index 1: 20
Number at index 3: 40
Number at index 5: 60
Number at index 7: 80
Number at index 9: 100

In [61]:
x=[23, 'Python', 23.98]
y=[]
for i in x:
    y.append(type(i))
print(x)
print(y)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [4]:
l=[1,2,3,3,3,3,4,5]
print('Unique List:',list(set(l)))

Unique List: [1, 2, 3, 4, 5]

In [1]:
s='The quick Brow Fox'
a=0
b=0
for i in s:
  if (i.islower()):
    a+=1
  if (i.isupper()):
    b+=1  
print("No. of Upper-case characters:",b)
print("No. of Lower-case Characters:",a)

No. of Upper-case characters: 3
No. of Lower-case Characters: 12